spring:
  application:
  redis:
    namespace: "redis-namespace"
  cache:
    type: redis


app:
  cors:
    enable: true
    allow-credentials: true
    allowed-origins:
      - "https://domain.frontent"
      - "null"
  conf:
    casServiceId: ""
    casServerUrl: ""
    casServerLoginUrl: ""
    casProviderKey: ""
    casTicketCallback: ""
    casProxyReceptorUrl: ""
    casProxyTicketCallback: ""
    casProxyTicketFor: ""
    casAttributesKeyCurrentEtab: ""
    authorized-domains:
      -
      -

redis:
  hostName: "hostname"
  port: "6379"
  userName: "appuser"
  password: "password"
  databaseIndex: "0"
  pgtiouExpiryInSeconds: 150
  pgtiouPrefix: "${spring.redis.namespace}:iou"
  mappingPrefix: "${spring.redis.namespace}:mapping"
  responseCacheName: "${spring.redis.namespace}:summary-cache"
  responseCacheTtlInSeconds: 60
